<div class="row featurette">
    <div class="col-md-12 text-center">
        <h2 class="featurette-heading hcr-blue">About Us</h2>
        <p class="lead">We facilitate the equine passion in all of us with the practical knowledge to succeed in the horse industry. The majority of our long-term students graduate earning entrance to NCAA or ISHA collegiate riding teams.</p>
        </div>
</div>