<div class="row featurette">
    <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="file:///Users/JosephMoore/Desktop/HCR/western1.jpg" alt="Generic placeholder image">
    </div>
  <div class="col-md-7">
    <h2 class="featurette-heading"><span class="hcr-blue">Lessons - </span><span class="text-muted">Equestrian, Western, Showmanship</span></h2>
    <p class="lead">We offer lessons year round at very affordable rates! We also offer camps during the summer where kids can learn what showmanship is really about!</p>
  </div>
</div>
