 <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading"><span class="hcr-blue">Contact Us - </span><span class="text-muted">Stay Connected</span></h2>
      <p class="lead">Want to learn more information? Contact us at your easiest convience through email or phone. Don't forget to follow us on Facebook, Instagram and Snapchat to stay up to date with what's going on at Hidden Creek Ranch!</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="~/images/western1.jpg" alt="Generic placeholder image">
    </div>
</div>