<div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="file:///Users/JosephMoore/Desktop/HCR/googlemap.png" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading"><span class="hcr-blue">Instructors - </span><span class="text-muted">Equestrian, Western, Showmanship</span></h2>
      <p class="lead">Our instructors are some of the best in the business!</p>
    </div>
</div>
