 <div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading"><span class="hcr-blue">Events - </span><span class="text-muted">Workshops To Barn Duty</span></h2>
        <p class="lead">We constantly have events going on throughout the week for all ages. From horse show team practice to merritt badge earning. We even offer discounts for lessons with participation of barn duty. It's never a dull moment at Hidden Creek Ranch!</p>
    </div>
    <div class="col-md-5">
        <br/
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <strong>Ranch Hours</strong>
                    </div>
                </div>
               <div class="row">
                    <div class="col-md-12">
                        <span>Sunday: Varies Weekly</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span>Monday: Closed</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span>Tuesday: 3pm - 6:30pm</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span>Wednesday: 3pm - 6:30pm</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span>Thursday: 3pm - 6:30pm</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span>Friday: 3pm - 6:30pm</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span>Saturday: 9am - 1pm</span>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <strong>Barn Duty</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        1st & 3rd Saturday's: 2pm - 4pm
                    </div>
                </div>
                <br/>
                
                <div class="row">
                    <div class="col-md-12">
                        <strong>Horse Show Team</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        (2 to 3 times per week)
                    </div>
                </div>
                <br/>
                
                <div class="row">
                    <div class="col-md-12">
                        <strong>Summer Camps</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        (6 weeks during summer)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>