<div class="row featurette">
    <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" width="75%" src="~/images/jumper.png" alt="Generic placeholder image">
    </div>
  <div class="col-md-7">
    <h2 class="featurette-heading"><span class="hcr-blue">Lessons - </span><span class="text-muted">Equestrian, Western, Showmanship</span></h2>
    <p class="lead">Our top of the line Lessons will help you get that spot on the podeum. We offer various types of horse riding lessons and all at very affordable rates.</p>
  </div>
</div>
