<div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" width="70%" src="~/images/instructors.jpg" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading"><span class="hcr-blue">Instructors - </span><span class="text-muted">Best In Class</span></h2>
      <p class="lead">Our instructors are some of the best in the business! They have an undying passion for horse riding and will get to where you want to go.</p>
    </div>
</div>
