 <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading"><span class="hcr-blue">Contact Us - </span><span class="text-muted">Equestrian, Western, Showmanship</span></h2>
      <p class="lead">We are located conviently in Orange, CA. This is a prime location for nearby trails and horse shows. Also follow us on Facebook, Instagram and Snapchat to stay up to date!</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="file:///Users/JosephMoore/Desktop/HCR/googlemap.png" alt="Generic placeholder image">
    </div>
</div>