<div class="container marketing">
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-12 text-center">
        <h2 class="featurette-heading">About Us</h2>
        <p class="lead">We facilitate the equine passion in all of us with the practical knowledge to succeed in the horse industry. The majority of our long-term students graduate earning entrance to NCAA or ISHA collegiate riding teams.</p>
      </div>
    </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Lessons <span class="text-muted">Equestrian, Western, Showmanship</span></h2>
            <p class="lead">We facilitate the equine passion in all of us with the practical knowledge to succeed in the horse industry. The majority of our long-term students graduate earning entrance to NCAA or ISHA collegiate riding teams.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="file:///Users/JosephMoore/Desktop/HCR/jumper.png" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="file:///Users/JosephMoore/Desktop/HCR/western1.jpg" alt="Generic placeholder image">
            </div>
          <div class="col-md-7">
            <h2 class="featurette-heading">Learn how to Saddle Up!</h2>
            <p class="lead">We offer lessons year round at very affordable rates! We also offer camps during the summer where kids can learn what showmanship is really about!</p>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Summer Camp!</h2>
              <p class="lead">We offer summer camps for kids of all ages!</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto" src="file:///Users/JosephMoore/Desktop/HCR/googlemap.png" alt="Generic placeholder image">
            </div>
        </div>
  
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto" src="file:///Users/JosephMoore/Desktop/HCR/googlemap.png" alt="Generic placeholder image">
            </div>
            <div class="col-md-7">
              <h2 class="featurette-heading">Located in Sunny Southern California!</h2>
              <p class="lead">We are located conviently in Orange, CA. This is a prime location for nearby trails and horse shows. Events are always going year round so come on down and see what we have to offer!</p>
            </div>
        </div>
</div>