<div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading"><span class="hcr-blue">Camps - </span><span class="text-muted">Summer Fun</span></h2>
      <p class="lead">We offer summer camps for kids of all ages. No better place to learn about horses than at the ranch!</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="~/images/camps1.jpg" alt="Generic placeholder image">
    </div>
</div>