@{
    Layout = "_Layout";
}


<div class="row">
    <div class="col-md-12 text-center">
        <h2 class="featurette-heading hcr-blue">Camps</h2>
     </div>
</div>
<div class="row text-center">
    <div class="col-md-3">                
        <a href="2018_HCR-SummerCampflyer.pdf" class="TitleText">FLYER</a>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-3">
        <a href="/2018_HCR-ThingstoBringtoCamp.pdf" class="BluTitleTEXT"> Things to bring to camp</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <p class="lead">Our day camps start in June and run throughout the summer. They run Monday through Friday 9am - 1pm with a different topic each week. 
            These camps provide youth with a variety of learning opportunities through the hands-on approach to grooming, bridling, and saddling horses.
            They also are a great way to build self-confidence with our Instuctors that encourage positive results. No horse ownership is necessary for these camps.  
        </p>
     </div>
</div>

<hr class="featurette-divider"> 

<div class="row">
    <div class="col-md-12">
        <h3>BOOT CAMP</h3> 
        <p>June 25 - 29</p>
        <p>$70 per day ($350 total)</p>
        <span>Description: </span>
        <p></p>
    </div>
</div>

<hr class="featurette-divider"> 

<div class="row">
    <div class="col-md-12">
        <h3>ENGLISH RIDING</h3> 
        <p>July 9 - 13</p>
        <p>$70 per day ($350 total)</p>
        <span>Description: </span>
        <p></p>
    </div>
</div>

<hr class="featurette-divider"> 

<div class="row">
    <div class="col-md-12">
        <h3>ENGLISH JUMPING</h3> 
        <p>July 16 - 20</p>
        <p>$70 per day ($350 total)</p>
        <span>Description: </span>
        <p></p>
    </div>
</div>

<hr class="featurette-divider"> 

<div class="row">
    <div class="col-md-12">
        <h3>BOOT CAMP</h3> 
        <p>July 30 - Aug 3</p>
        <p>$70 per day ($350 total)</p>
        <span>Description: </span>
        <p></p>
    </div>
</div>

<hr class="featurette-divider"> 

<div class="row">
    <div class="col-md-12">
        <h3>TRAIL</h3> 
        <p>August 6 - 10</p>
        <p>$70 per day ($350 total)</p>
        <span>Description: </span>
        <p></p>
    </div>
</div>


