<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hidden Creek Ranch</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <nav class="navbar" style="background-color:lightgrey;">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="file:///Users/JosephMoore/Desktop/HCR/HiddenCreekRanchV2.html">Hidden Creek Ranch</a>
            </div>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link" href="file:///Users/JosephMoore/Desktop/HCR/HiddenCreekRanchV2-lessons.html">Lessons</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="file:///Users/JosephMoore/Desktop/HCR/HiddenCreekRanchV2-camps.html">Camps</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="file:///Users/JosephMoore/Desktop/HCR/HiddenCreekRanchV2-aboutus.html">About Us</a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="file:///Users/JosephMoore/Desktop/HCR/HiddenCreekRanchV2-instructors.html">Instructors</a>
                </li>
              </ul>
          </div>
        </nav>
      </header>

      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Horse riding <span class="text-muted">Equestrian and showmanship</span></h2>
            <p class="lead">We facilitate the equine passion in all of us with the practical knowledge to succeed in the horse industry. The majority of our long-term students graduate earning entrance to NCAA or ISHA collegiate riding teams.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="file:///Users/JosephMoore/Desktop/HCR/jumper.png" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Learn how to Saddle Up!</h2>
            <p class="lead">We offer lessons year round at very affordable rates! We also offer camps during the summer where kids can learn what showmanship is really about!</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="file:///Users/JosephMoore/Desktop/HCR/western1.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Located in Sunny Southern California!</h2>
            <p class="lead">We are located conviently in Orange, CA. This is a prime location for nearby trails and horse shows. Events are always going year round so come on down and see what we have to offer!</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="file:///Users/JosephMoore/Desktop/HCR/googlemap.png" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="container">
        <p>Hidden Creek Ranch Inc.</p>
        <!-- <a class="float-right" href="#">Contact Us</a> -->
      </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>
