<div class="row">
    <div class="col-md-12 text-center">
        <h2 class="featurette-heading hcr-blue">Contact Us</h2>
        <p class="lead">Want to learn more information? Contact us at your easiest convience through email or phone. Don't forget to follow us on Facebook, Instagram and Snapchat to stay up to date with what's going on at Hidden Creek Ranch!</p>
  </div>
</div>

<hr class="featurette-divider">


<div class="row text-center">
    <div class="col-md-12">
      <img width="50%" src="~/images/googlemap.png"> 
    </div>
</div>

<div style="height:50px;"></div>


<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5 text-right">
              Address: 
            </div>
            <div class="col-md-7">
                7741 E Santiago Canyon Road, Orange CA 92869
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 text-right">
              Email: 
            </div>
            <div class="col-md-7">
                mailei@hcroc.com
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 text-right">
              Phone Number: 
            </div>
            <div class="col-md-7">
               714-363-1563
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 text-right">
              Facebook: 
            </div>
            <div class="col-md-7">
               <a>@@HiddenCreekRanchOC</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 text-right">
              Instagram: 
            </div>
            <div class="col-md-7">
               <a>@@HiddenCreekRanchOC</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 text-right">
              Snapchat: 
            </div>
            <div class="col-md-7">
               <a>@@HiddenCreekRanchOC</a>
            </div>
        </div>
    </div>
</div>

<div style="height:50px;"></div>