<div class="row">
    <div class="col-md-12 text-center">
        <h2 class="featurette-heading hcr-blue">Contact Us</h2>
        <p class="lead">Want to learn more information? Contact us at your easiest convience through email or phone. Don't forget to follow us on Facebook, Instagram and Snapchat to stay up to date with what's going on at Hidden Creek Ranch!</p>
  </div>
</div>

<hr class="featurette-divider">