<div class="row">
    <div class="col-md-12 text-center">
        <h2 class="featurette-heading hcr-blue">Events</h2>
         <p class="lead">We constantly have events going on throughout the week for all ages. From horse show team practice to merritt badge earning. We even offer discounts for lessons with participation of barn duty. It's never a dull moment at Hidden Creek Ranch!</p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <img src="~/images/show_teams.jpg" />
    </div>
    <div class="col-md-1"></div>
</div>


<hr class="featurette-divider">

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <img src="~/images/barnduty.jpg" />
    </div>
    <div class="col-md-1"></div>
</div>

<hr class="featurette-divider">
 
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <img src="~/images/meritbadges.jpg" />
    </div>
    <div class="col-md-1"></div>
</div>