<div class="row">
    <div class="col-md-12 text-center">
        <h2 class="featurette-heading hcr-blue">Lessons</h2>
      <p class="lead">Our top of the line Lessons will help you get that spot on the podeum. We offer various types of horse riding lessons and all at very affordable rates.</p>
    </div>
</div>

<hr class="featurette-divider">

<div class="row">
    <div class="col-md-12">
        <h3>Horsmanship</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <ul>
            <li>4 One-hour riding lessons (held once a week)</li>
            <li>May be ridden English or Western</li>
            <li>“Hands-on” approach to grooming, bridling and saddling</li>
            <li>No horse ownership necessary</li>
            <li>Barn Duty sessions are included (1st and 3rd Saturdays from 2pm to 4 pm)</li>
            <li>Cost: $60 per lesson</li>
        </ul>
    </div>
    <div class="col-md-4">
        <img width="75%" src="~/images/horsemanship1.jpg"/>
    </div>
</div>

<hr class="featurette-divider">

<div class="row">
    <div class="col-md-12">
        <h3>English</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <ul>
            <li>4 One-hour riding lessons (held once a week)</li>
            <li>No horse ownership necessary</li>
            <li>Equipment Available</li>
            <li>Learn how to trot and canter</li>
            <li>Development of rider's seat and leg</li>
            <li>Jumping lessons available to proficient riders</li>
            <li>Barn Duty sessions are included (1st and 3rd Saturdays from 2pm to 4 pm)</li>
            <li>Cost: $60 per lesson</li>
        </ul>
    </div>
    <div class="col-md-4">
        <img src="~/images/english1.jpg"/>
    </div>
</div>

<hr class="featurette-divider">

<div class="row">
    <div class="col-md-12">
        <h3>Western</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <ul>
            <li>4 One-hour riding lessons (held once a week)</li>
            <li>No horse ownership necessary</li>
            <li>Equipment Available</li>
            <li>Learn how to jog and lope</li>
            <li>Development of rider's seat and leg</li>
            <li>Trail riding available to proficient riders</li>
            <li>Barn Duty sessions are included (1st and 3rd Saturdays from 2pm to 4 pm)</li>
            <li>Cost: $60 per lesson</li>
        </ul>
    </div>
    <div class="col-md-4">
        <img src="~/images/western2.jpg"/>
    </div>
</div>