    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="featurette-heading hcr-blue">Lessons</h2>
          <p class="lead">Our top of the line Lessons will help you get that spot on the podeum. We offer various types of horse riding lessons and all at very affordable rates.</p>
        </div>
    </div>

    <hr class="featurette-divider">