
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active text-center">
            <img class="first-slide" src="~/Images/hcr.jpg" alt="First slide">
          </div>
          <div class="carousel-item text-center">
            <img class="second-slide" src="~/Images/HCRPopupOnline.jpg" alt="Second slide">
          </div>
          <div class="carousel-item text-center">
            <img class="third-slide" src="~/Images/HCRPopupOnline2.jpg" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev"  href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span  class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="container marketing">
        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Horse riding <span class="text-muted">Equestrian and showmanship</span></h2>
            <p class="lead">We facilitate the equine passion in all of us with the practical knowledge to succeed in the horse industry. The majority of our long-term students graduate earning entrance to NCAA or ISHA collegiate riding teams.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="file:///Users/JosephMoore/Desktop/HCR/jumper.png" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Learn how to Saddle Up!</h2>
            <p class="lead">We offer lessons year round at very affordable rates! We also offer camps during the summer where kids can learn what showmanship is really about!</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="file:///Users/JosephMoore/Desktop/HCR/western1.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Summer Camp!</h2>
              <p class="lead">We offer summer camps for kids of all ages!</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto" src="file:///Users/JosephMoore/Desktop/HCR/googlemap.png" alt="Generic placeholder image">
            </div>
        </div>
  
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">Located in Sunny Southern California!</h2>
              <p class="lead">We are located conviently in Orange, CA. This is a prime location for nearby trails and horse shows. Events are always going year round so come on down and see what we have to offer!</p>
            </div>
            <div class="col-md-5 order-md-1">
              <img class="featurette-image img-fluid mx-auto" src="file:///Users/JosephMoore/Desktop/HCR/googlemap.png" alt="Generic placeholder image">
            </div>
        </div>
  
        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

     